@import "/src/styles/variable.scss";

.price {
  display: flex;
  color: red;
  font-family: $BigShouldersDisplay;
  font-size: 30px;
}

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .namePrice {
    color: white;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    gap: 20px;
    padding: 4% 0%;

    img {
      height: 50%;
      width: 50%;
      object-fit: contain;
    }

    span {
      font-family: $LexendDeca;
    }
  }
}
