@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

// COLORS
$pink: pink;
$Blue: rgb(34, 34, 158);
$lightGray: hsl(0, 0%, 95%);
$lightPurple:  rgb(106, 55, 156);


// FONTS
$LexendDeca: "Lexend Deca";
$BigShouldersDisplay: "Big Shoulders Display";




